<nav>
    <div class="nav-section">
        <a href="{{ site.url }}{{ site.baseurl }}/"><span>*&nbsp;</span>Syllabus</a>
        <a href="{{ site.url }}{{ site.baseurl }}/schedule.html"><span>*&nbsp;</span>Schedule + Notes</a>
        <a href="{{ site.url }}{{ site.baseurl }}/assignments.html"><span>*&nbsp;</span>Assignments</a>  
    </div>  
    <div class="nav-section">
        <a href="{{ site.ed }}"><span>*&nbsp;</span>Ed Discussion</a>
        <a href="https://pollev.com/emilyzhao"><span>*&nbsp;</span>Poll Everywhere</a>
        <a href="{{ site.brightspace }}"><span>*&nbsp;</span>Brightspace</a>
    </div>      
</nav>