/* ---  CSS Day 01 Styles ---  */

h1, h2, h3, h4, h5, h6, th {
    font-family: Arial, Helvetica, sans-serif; /* with fallback font category */
    color: #2d2d2d; /* dark gray */ 
    font-size: 1.3em; /* ems are relative font size */
}

p, ul, ol, td {
    color: #2d2d2d; /* dark gray */
    font-family: Georgia, serif; /* with fallback font category */
    font-size: 1em;
    line-height: 1.4em; /* aka "leading" */
}

.title {
    font-size: 1.7em;
}

#credit {
    font-size: 0.7em;
    text-align: center;
}

a:link, a:visited {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: black;
    background-color: orange;
}

a:active {
    text-decoration: none;
}

table {
    width: 100%;
}

td {
    height: 1.3em;
}

th {
    height: 2.8em;
}

.even {
    background-color: lightgrey;
}

.odd {
    background-color: white;
}

/* --- CSS Day 02 Styles ---  */

body {
    background-color: white;
    background-image: url("images/nyc-seal.png");
    background-size: 125px 125px; /* width, height*/
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

/* --- Box Model --- */
#container {
    width: 90%;
    margin-left: auto; /* center the content */
    margin-right: auto; /* center the content */
}

main {
    margin-top: 50px;
}

#population {
    margin-top: 50px;
    border-top: 1px solid orange;
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

td {
    padding: 10px;
}


/* --- CSS Selectors ---  */
.title a {  /* just selecting New York City heading */
    text-decoration: none;
}

.title a:hover {
    background-color: lightgrey;
}

/* --- CSS Flexbox ---  */
main { /* got rid of the div and made main exclude my table */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article {
    width: calc(92% / 3); /* 8% of spacing for justify-content to put between the children */
}